<%- include('header'); -%>
    <div class = "box" id = "heading">
        <h1>My Lists</h1>
    </div>

    <div class = "box">
        <form action = "/deleteList" method="post">
            <% ListItems.forEach(function(item){ %>
                <div class = "item">
                    <input type = "checkbox"  OnChange = "this.form.submit()" id = "checking" name = "checkbox" value = "<%=item._id%>">
                    <a style = "text-decoration: unset; color: black;" href = "/list/<%=item.name%>"><%= item.name %></a>
                </div>
            <% })%>
        </form>
        <form class = "item" action = "/create" method="post">
            <input type = "text" name = "new_list" placeholder= "New List Title" autocomplete="off">
            <button type = "submit" name = "list" > + </button>
        </form> 
    </div>
    <%- include('footer'); -%>
 
   
  
